@model OdeToFood3.Models.RestaurantReview



@*@:Review*@
<div class="review">
    <h4>@Model.Name</h4>
    <span>@Model.Rating</span>
    <p>@Model.City, @Model.Country</p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    <span class="right">

    </span>
</div>
@*@:}*@