@model OdeToFood2.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@Model.Name</h3>
<h3>@Model.Street</h3>
<h3>@Model.City</h3>
<h3>@Model.State</h3>
<h3>@Model.Zip</h3>



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>